.about {
    width: 100%;
    height: 100vh;
    background-image: url('/public/gallery/about5.jpg');
    background-size: 100% 110vh;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

.our_team {
    background: white;
    width: 100%;
    padding: 5% 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our_team div {
    width: 50%;
}

.our_team img {
    padding: 5%;
}

@media (max-width: 1024px) {
    .about_box {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .about_box {
        left: 0;
        width: 90%;
    }

    .our_team {
        flex-wrap: wrap;
        padding: 5% 0%;
    }

    .our_team div {
        width: 90%;
    }

    .our_team img {
        width: 90%;
    }
}



.comment {
    width: 100%;
    height: 100vh;
    background: white;
    padding: 5% 10%;
}

.c_form {
    background: rgb(0, 44, 69);
    padding: 4% 4%;
    border-radius: 20px;
    box-shadow: 9px 22px 52px -29px black;
}

.commentText {
    background: white;
    border-radius: 10px;
    padding: 3%;
    height: 50vh;
    overflow-y: scroll;
    box-shadow: inset 0 0 30px black;
}
.c_user_logo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: rgb(241, 168, 168);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}