.navbar{
	margin: 0;
	padding: 0;
	z-index: 2;
	height: 15vh;
}
.menu{
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
}
nav{
	position: relative;
	width: 0%;
	right: 0%;
	height: 10px;
	background: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	z-index: 5;
}
.nav{
	transition: 1s;
	width: 100%;
}
.fullheight{
	transition: 1s;
	height: 100vh;
}
.open{
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
	font-size: 20px;
	margin-top: 5vh;
}
.close{
	position: absolute;
	top: 5%;
	right: 5%;
	opacity: 0;
	cursor: pointer;
}

.list {
	list-style: none;
}
.list a{
	display: block;
	padding: 10px 0;
	opacity: 0;
	color: black;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
}
.list a:hover{
	padding: 60px 0px;
}
.list .show{
	opacity: 1;
	transition: 0.2s;
}
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.title{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 70px;
	color: #fff;
	display: flex;
	align-items: center;
	z-index: 1;
	font-family: 'Koulen', cursive;
	width: 60%;
	height: 15vh;
}

@media (max-width: 800px) {
	.title img{
		width: 20%;
	}
	.title{
		font-size: 45px;
	}
}
@media (max-width: 800px){
	.title img{
		width: 10%;
	}
	.title{
		font-size: 25px;
	}
	.title strong{
		font-size: 25px;
	}
}